* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.container_small {
    width: 60%;
    margin: auto;
    text-align: center;
}