.hero {
    background-image: url("https://cc-prod.scene7.com/is/image/CCProdAuthor/dt-ps-max-poster-image?$pjpeg$&jpegSize=300&wid=1440");
    height: 700px;
    padding-top: 100px;
    .logo {
        height: 64px;
        width: 64px;
    }
    .container {
        & > * {
            margin-bottom: 15px;
        }
    }
    
}

.btn {
    color: #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 8px 36px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 5px;
}

.btn-white {
    border: 2px solid #fff;
    &:hover {
        background-color: #fff;
        color: #000;
    }
}

.btn-blue {
    border: 2px solid $main_blue;
    background-color: $main_blue;
    &:hover {
        background-color: $dark_blue;
    }
}