h1 {
    font-size: $biggest_font;
    font-weight: 700;
    color: #fff;
}

h2 {
    font-size: $big_font;
    font-weight: 700;
}

h3 {
    font-size: $normal_font;
    font-weight: 400;
    color: #fff;
}

span {
    font-size: $normal_font;
}

p {
    font-size: $small_font;
}